body {
  background: url("../images/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100%;
  font-family: "Segoe UI", SegoeUI, "Segoe WP", Tahoma, Arial, sans-serif;
}

a {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 0 10px #fff;
}

.content-container {
  margin: 110px auto 0 auto;
  color: #fff;
  padding: 20px 10px 10px 0;
}

@media (max-width: 768px) {
  .content-container {
    padding-left: 20px;
  }
}

.content-container > div {
  height: 100%;
}

.content {
  height: 100%;
  padding-right: 10px;
  padding-left: 0;
}

.content.text {
  font-size: 1.2em;
  text-align: justify;
  padding: 20px 30px;
}

.content-container {
  position: relative;
}

.navbar-dark {
  position: absolute;
  right: -100px;
}

.navbar-dark .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

.nav a {
  color: #366aaf;
  text-decoration: none;
  font-weight: 500;
}

.nav a:hover {
  color: #366aaf;
  text-decoration: underline;
  font-weight: bold;
}

.fade {
  transition: opacity 0.05s linear;
}

/* Text Content */

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
}

h1:before {
  content: "<";
}
h1:after {
  content: ">";
}

p {
  margin: 0 0 30px 0;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #366aaf;
}

::-webkit-scrollbar-thumb {
  background: #e8f0f7;
  -webkit-border-radius: 10px;
  border-radius: 0;
  box-shadow: 0 0 0.5em #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

/* Leaderboard */

.leaderboard {
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  border-spacing: 0;
  height: calc(100% - 400px);
  table-layout: fixed;
}

/* .leaderboard tbody {
        overflow: auto;
        height: calc(100% - 50px);
    }

        .leaderboard tbody::-webkit-scrollbar-track {
            display: none;
        }

        .leaderboard tbody::-webkit-scrollbar {
            width: 12px;
        }

        .leaderboard tbody::-webkit-scrollbar-thumb {
            background: rgba(255, 255, 255, 0.3);
            border-radius: 6px;
        }
*/
.leaderboard thead {
  /* height: 50px; */
}

.leaderboard thead,
.leaderboard tbody {
  display: block;
  padding: 0 10px;
}

.leaderboard-powered p {
  margin-top: 0;
}

.leaderboard tr th {
  line-height: 30px;
  font-weight: 300;
  border-bottom: #366aaf solid 2px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.leaderboard tr {
  border-bottom: #366aaf solid 2px;
}

.leaderboard tr td {
  line-height: 60px;
  height: 60px;
  /* border-bottom: #366AAF solid 2px; */
}

.leaderboard tr .lb-position {
  text-align: center;
  justify-content: center;
  width: 100px;
  align-items: center;
}

.leaderboard tbody tr .lb-position {
  display: flex;
}

.leaderboard tr .lb-position > * {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.leaderboard tr:nth-child(1) td.lb-position > * {
  background-color: #e68f2f;
}

.leaderboard tr:nth-child(2) td.lb-position > * {
  background-color: #f2455e;
}

.leaderboard tr:nth-child(3) td.lb-position > * {
  background-color: #6251a7;
}

.leaderboard tr .lb-user {
  width: 300px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

.leaderboard tr .lb-user > * {
  padding: 0 10px;
}

.leaderboard tr .lb-points {
  width: 200px;
  text-align: center;
  justify-self: center;
}

.leaderboard tr .lb-metrics {
  width: 170px;
  text-align: center;
  justify-self: center;
}
.leaderboard tr .lb-metricsl {
  width: 300px;
  text-align: center;
  justify-self: center;
}
